.about {
  grid-column-gap: 133px;
  grid-row: content-s/content-e;
  grid-column: s/e;
  display: grid;
  grid-auto-flow: column;
  align-content: center;

  &__img-btn {
    display: grid;
    grid-row-gap: 32px;
  }
  .colabora-btn {
    height: 52px;
    width: 192px;
    border-radius: 6px;
    justify-self: center;
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    border: none;
    background-color: #235d9c;
    border: 2.5px solid transparent;

    &:hover {
      cursor: pointer;
      font-family: "montserrat";
      border: 2.5px solid #235d9c;
      background-color: white;
      color: #235d9c;
    }

    &:focus {
      outline: none;
    }
  }

  &__info {
    align-self: center;
    text-align: center;
    font-size: 17px;
    color: #090909;
  }
}
