.about {
  grid-column-gap: 133px;
  grid-row: content-s/content-e;
  grid-column: s/e;
  display: grid;
  grid-auto-flow: column;
  align-content: center;

  &__img-btn {
    display: grid;
    grid-row-gap: 32px;
  }

  &__info {
    align-self: center;
    text-align: center;
    font-size: 17px;
    color: #090909;
  }
}
