.colabora {
  font-size: 17px;
  color: #090909;
  margin-top: 60px;
  margin-bottom: 120px;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [title-s] 90px [title-e comment-s] 200px [comment-e options-s] 1fr [options-e];

  &__title {
    font-size: 48px;
    grid-column: s/e;
    grid-row: title-s/title-e;
    justify-self: center;
  }

  &__comment {
    justify-self: center;
    text-align: center;
    line-height: 35px;
  }

  &__options {
    display: grid;
    grid-auto-flow: column;
    margin-left: 80px;
    margin-right: 80px;
    justify-items: center;
  }

  &__option {
    display: grid;
    grid-gap: 40px;
    height: 600px;
    width: 430px;
    text-align: center;

    &__img {
      img {
        width: 430px;
        height: 260px;
        border: 2px solid #090909;
        border-radius: 12px;
      }
    }
    &__title {
      font-size: 24px;
      font-weight: 600;
    }
    &__description {
      margin-right: 20px;
      margin-left: 20px;
    }
    &__code {
      font-weight: 600;
    }
    &__button {
      padding-top: 11px;
      padding-bottom: 11px;
      padding-right: 45px;
      padding-left: 45px;
      font-size: 15px;
      border-radius: 6px;
      color: white;
      text-decoration: none;
      text-align: center;
      background-color: #235d9c;
      border: 2.5px solid transparent;
      line-height: 50px;

      &:hover {
        cursor: pointer;
        border: 2.5px solid #235d9c;
        background-color: white;
        color: #235d9c;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
