.footer {
  background-color: #235d9c;
  color: white;
  font-size: 16px;
  grid-row: footer-s/footer-e;
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: [aviso-legal-s] 1fr [aviso-legal-e derechos-s] 1fr [derechos-e redes-s] 1fr [redes-e];

  &__aviso-legal {
    margin-left: 60px;
  }

  &__rights {
    justify-self: center;
  }

  &__redes {
    justify-self: end;
    margin-right: 60px;
    grid-column: redes-s/redes-e;
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: [siguenos-s] 100px [siguenos-e twitter-s] 25px [twitter-e facebook-s] 20px [facebook-e pinterest-s] 20px [pinterest-e youtube-s] 20px [youtube-e];
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    i {
      font-style: normal;
    }
  }
}
