.identificate {
  font-size: 17px;
  color: #090909;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 120px;
  display: grid;
  grid-column: 1/-1;
  grid-row-gap: 160px;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [title-s] 90px [title-e comment-s] 200px [comment-e options-s] 1fr [options-e];

  &__title {
    font-size: 48px;
    grid-column: s/e;
    grid-row: title-s/title-e;
    justify-self: center;
  }

  &__form {
    display: grid;
    grid-auto-flow: row;
    align-self: center;
    grid-gap: 40px;

    &__btn {
      justify-self: center;
    }
  }
}
