.teatro {
  // height: 579px;
  grid-row: content-s/content-e;
  grid-column: 1/-1;
  margin-top: 90px;
  margin-bottom: 210px;
  margin-right: 70px;
  margin-left: 70px;
  grid-gap: 70px;
  display: grid;
  grid-auto-flow: column;

  &__text-group {
    display: grid;
    grid-gap: 100px;

    &__title {
      justify-self: center;
      font-size: 48px;
    }

    &__content {
      font-size: 17px;
      text-align: center;
    }
    &__buttons {
      justify-content: center;
      align-content: center;
      display: grid;
      grid-gap: 87px;
      grid-auto-flow: column;
    }
    &__button {
      height: 52px;
      width: 192px;
      border-radius: 6px;
      color: white;
      text-decoration: none;
      text-align: center;
      background-color: #235d9c;
      border: 2.5px solid transparent;
      line-height: 50px;

      &:hover {
        cursor: pointer;
        border: 2.5px solid #235d9c;
        background-color: white;
        color: #235d9c;
      }

      &:focus {
        outline: none;
      }
    }
  }
  &__img-group {
    align-self: center;
  }

  &__img {
    border: 4px solid #235d9c;
    border-radius: 3px;
  }
}
